{{ define "main" }}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="shortcut icon" href="favicon.jpg"> -->
        <!-- <link rel="stylesheet" type="text/css" href="stylesheet.css"> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script type="text/javascript" src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
        <!-- ＃リンクのスムーズスクロール -->
        <script>
            //
            // $(function(){
						// 	  //
            //     // #で始まるリンクをクリックしたら実行されます
            //     $('a[href^="#"]').click(function() {
            //         // スクロールの速度
            //         var speed = 200; // ミリ秒で記述
            //         var href= $(this).attr("href");
            //         var target = $(href == "#" || href == "" ? 'html' : href);
            //         var position = target.offset().top;
            //         $('body,html').animate({scrollTop:position}, speed, 'swing');
            //         return false;
            //     });
            // });
        </script>
        <title>剣持ボタン</title>
    </head>

    <body >



        <button style="background-color: #FAFAFA" type="button" class="sounds" data-file="./sound/あ">あ</button>

        <br>
        <br>
        <script src="./js/button.js"></script>
    </body>
</html>




{{ end }}
