{{ define "main" }}
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="noindex,nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="index.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

        <title>野良猫ものまねグランプリ 愛の歌が溢れ出てきて止まらねえんだよ!|つうろ</title>
    </head>

    <body >
        <h5>愛の歌が溢れ出してきて止まらねえんだよ！！</h5>
        <div align="center"> <img src="/images/blank.png" class="main_image"> </div>
        <br>
        <h5 class="koujo">何個でもコードを奏でろ！</h5>
        <table align="center">
          <tr>
            <th >C</th>
            <th >D</th>
            <th >E</th>
            <th >F</th>
            <th >G</th>
            <th >A</th>
            <th >B</th>
            <th >X</th>
          </tr>
          <tr>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="C-b">♪</button>
              <button style="color: #DF0101;background-color: #FAFAFA" type="button" class="sounds" data-file="C-r">♪</button>
            </td>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="D-b">♪</button>
              <button style="color: #DF0101;background-color: #FAFAFA" type="button" class="sounds" data-file="D-r">♪</button>
            </td>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="E-b">♪</button>
              <button style="color: #DF0101;background-color: #FAFAFA" type="button" class="sounds" data-file="E-r">♪</button>
            </td>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="F-b">♪</button>
              <button style="color: #DF0101;background-color: #FAFAFA" type="button" class="sounds" data-file="F-r">♪</button>
            </td>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="G-b">♪</button>
              <button style="color: #DF0101;background-color: #FAFAFA" type="button" class="sounds" data-file="G-r">♪</button>
            </td>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="A-b">♪</button>
              <button style="color: #DF0101;background-color: #FAFAFA" type="button" class="sounds" data-file="A-r">♪</button>
            </td>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="B-b">♪</button>
              <button style="color: #DF0101;background-color: #FAFAFA" type="button" class="sounds" data-file="B-r">♪</button>
            </td>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="X">♪</button>
            </td>
          </tr>
          <tr>
            <th >Cm</th>
            <th >Dm</th>
            <th >Em</th>
            <th >Fm</th>
            <th >Gm</th>
            <th >Am</th>
            <th >Bm</th>
            <th >Y</th>
          </tr>
          <tr>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="Cm-b">♪</button>
              <button style="color: #DF0101;background-color: #FAFAFA" type="button" class="sounds" data-file="Cm-r">♪</button>
            </td>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="Dm-b">♪</button>
              <button style="color: #DF0101;background-color: #FAFAFA" type="button" class="sounds" data-file="Dm-r">♪</button>
            </td>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="Em-b">♪</button>
              <button style="color: #DF0101;background-color: #FAFAFA" type="button" class="sounds" data-file="Em-r">♪</button>
            </td>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="Fm-b">♪</button>
              <button style="color: #DF0101;background-color: #FAFAFA" type="button" class="sounds" data-file="Fm-r">♪</button>
            </td>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="Gm-b">♪</button>
              <button style="color: #DF0101;background-color: #FAFAFA" type="button" class="sounds" data-file="Gm-r">♪</button>
            </td>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="Am-b">♪</button>
              <button style="color: #DF0101;background-color: #FAFAFA" type="button" class="sounds" data-file="Am-r">♪</button>
            </td>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="Bm-b">♪</button>
              <button style="color: #DF0101;background-color: #FAFAFA" type="button" class="sounds" data-file="Bm-r">♪</button>
            </td>
            <td>
              <button style="color: #0000FF;background-color: #FAFAFA" type="button" class="sounds" data-file="Y">♪</button>
            </td>
          </tr>
        </table>

        <br>
        <br>
        <br>
        <script src="./js/button.js"></script>
    </body>
</html>




{{ end }}
